//
   Created by mark on 10/29/13.
extend layout
block content
    p
        | Controls will go here...
block sidebar
    .widget
        h1 Widget
        p
            | Who knows what will go here...
