//
   Created by mark on 10/29/13.
!!!5
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/layout.css')
    body
        header
            h1 Arduino Home
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        .footer
            p Fun fun!
