<!-- HTML Template -->
<div id="rawdata" class="row">
    <!--<div id="data" class="row">-->
        <div id="dataColumn" class="col-md-10">
            <div class="row">
                <div class="table-responsive col-md-3">
                    <table id="raw-data-tmp36" class="table"></table>
                </div>
                <div class="col-md-3">
                    <table id="raw-data-dht" class="table"></table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="schema-count"></div>
        </div>
    <!--</div>-->
</div>
